
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="static/css/grid.css" />
<link rel="stylesheet" href="static/css/media-queries.css" />
<link rel="stylesheet" href="static/css/show.css" />
<title>DwollaUP</title>
</head>
<body>
<div class="container">
<div class="span_12 floatl">	
    <div class="span_2 floatl"></div>
    <div class="span_10 floatl">
        <p style="float:right;color:#888;">:)</p>
        <p style="font-weight:bold;">Dwolla'd UP!</p></p>
        <hr/>
        <p>Thanks for dwolla'in up!  The world needs more people like you!</p>
        <hr/>
        <a href="/">ask someone to dwolla up...</a>

    
    
    
    
    
    
    
    </div>
    <div class="span_3 floatl"></div>
</body>
</html>
